.Header {
  height: 5rem;

  &__logo {
    display: flex;
    align-items: center;
    width: max-content;
  }
}

.link {
  color: var(--hightlight-text);
  text-decoration: none;
  font-weight: bold;

  margin: 0 5px;
}

.link--signup {
  @extend .link;
}

.link--signup::before {
  content: '|';
  padding: 0 10px 5px 0;
}

.Header__nav {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.logo__img {
  height: 70px;
}

.logo__text {
  font-family: Norse;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;

  color: var(--primary);
}

// Hero Section

%button {
  color: white;

  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.Hero {
  line-height: 2.4;
  text-align: center;

  &__header {
    color: var(--primary);
    font-weight: normal;
    font-size: 2.2rem;

    line-height: 1;
  }

  &__subtext {
    font-size: 1.2rem;
  }

  &__link {
    color: var(--primary);
  }

  &__cta {
    @extend %button;

    background-color: var(--secondary);
    height: 3.3rem;
    width: 285px;
  }

  &__img {
    width: 100%;
  }
}

%section-header {
  font-weight: bold;
  font-size: 1.5rem;

  color: var(--bold-text);
}

//Process section

.Process__header,
.feature__header,
.Skills__header,
.Stories__header {
  @extend %section-header;
}

.Process {
  text-align: center;

  &__description {
    font-size: 1.1rem;
  }
}

.Process__feature {
  width: 33%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .feature__header,
  .feature__text {
    font-size: 1.1rem;
    line-height: 2;
  }

  .feature__img {
    height: 165px;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.Process__header,
.Process__description {
  max-width: 700px;
  line-height: 2;
}

.Skills {
  background-color: rgb(243, 243, 243);

  &__container {
    width: 80%;

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  &__header {
    text-align: center;
  }

  &__cta {
    @extend %button;

    background-color: var(--primary);
    height: 3.3rem;
    width: 230px;
  }
}

.Skills__card {
  @extend .p-5;
  @extend .m-2;

  text-align: center;

  background-color: white;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  img {
    height: 160px;
    width: 160px;
  }

  .card__header {
    @extend %section-header;
    @extend .mt-3;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}

.Stories {
  background: linear-gradient(to bottom, #fff, #eee);

  &__header {
    text-align: center;
  }

  &__link {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--normal-text);
  }

  &__cta-text {
    font-size: 2rem;
    text-align: center;
  }

  &__cta-btn {
    @extend %button;

    background-color: var(--secondary);
    height: 3.3rem;
    width: 180px;
  }
}

.story {
  width: 50%;
  min-width: 300px;

  margin-bottom: 3rem;

  &__img {
    margin-right: 1.8rem;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
  }
}

.story__details {
  line-height: 2;
  .details__name {
    color: var(--primary);
    font-size: 1.1rem;
  }

  .details__story {
    font-size: 1.1rem;
  }
}

.Footer__links {
  line-height: 2;
}
